<%- include('../../partials/header.ejs')-%>
<%- include('../../partials/navbar.ejs')-%>
<body>    
   <hr>
   <div class="container">
    <div class="card">
        <div class="card-header">
         <h2>Novo Artigo</h2>
        </div>
        <form method="POST" action="/articles/save">
        <div class="card-body">
            <label>Título</label>
            <input class="form-control" type="text"
            name="title" placeholder="Defina o título do seu artigo">
            <br/>
            <label>Categoria do Artigo</label>
            <select name="category" class="form-control">
                <option selected="false"></option>
             <% categories.forEach((category) =>{ %>
             <option value="<%= category.id %>">
                 <%= category.title %>
             </option>
            <%})%>
         </select>
        
         <br />
            <textarea class="form-control"  id="body" name="body" placeholder="Escreva seu artigo aqui"></textarea>  
            <br />
        </div>
        <div class="card-footer">
         <button type="submit" class="btn btn-success">Enviar Artigo</button>
        </div>
    </form>
    </div>
   </div>
 </body>
<%- include('../../partials/footer.ejs')-%>