<%- include('../../partials/header.ejs')-%>
    <%- include('../../partials/navbar.ejs')-%>

        <body>
            <div class="container">
                <hr>
                <h2>Categorias</h2>
                <a href="/admin/categories/new"><button class="btn btn-success">Criar nova Categoria</button></a>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% categories.forEach(category=> {%>
                            <tr>
                                <td>
                                    <%= category.id%>
                                </td>
                                <td>
                                    <%= category.title%>
                                </td>
                                <td>
                                    <%= category.slug%>
                                </td>
                                <td>
                                    <a href="/admin/categories/update/<%= category.id %>">
                                        <button type="submit" class="btn btn-warning">Editar</button>
                                    </a>
                                     <form method="POST" action="/categories/delete" style="display: inline;"
                                        onsubmit="confirmarDelecao(event, this)">
                                        <input hidden type="text" name="id" value="<%= category.id %>">
                                        <button type="submit" class="btn btn-danger">Excluir</button>
                                    </form>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
            <hr>
        </body>
                <%- include('../../partials/footer.ejs')-%>
            <script>
                function confirmarDelecao(event, form) {
                    event.preventDefault();
                    var decision = confirm("Deseja realmente excluir ?");
                    if (decision) {
                        form.submit();
                    }
                }
            </script>